.block.due_date
  .title
    截止日期
    - if can_admin_issue?
      = icon("spinner spin", class: "block-loading")
      = link_to "编辑", "#", class: "js-sidebar-dropdown-toggle edit-link float-right"
  .value
    .value-content
      %span.no-value{ "v-if" => "!issue.dueDate" }
        没有截止日期
      %span.bold{ "v-if" => "issue.dueDate" }
        {{ issue.dueDate | due-date }}
      - if can_admin_issue?
        %span.no-value.js-remove-due-date-holder{ "v-if" => "issue.dueDate" }
          \-
          %a.js-remove-due-date{ href: "#", role: "button" }
            删除截止日期
  - if can_admin_issue?
    .selectbox
      %input{ type: "hidden",
        name: "issue[due_date]",
        ":value" => "issue.dueDate" }
      .dropdown
        %button.dropdown-menu-toggle.js-due-date-select.js-issue-boards-due-date{ type: 'button',
          data: { toggle: 'dropdown', field_name: "issue[due_date]", ability_name: "issue" } }
          %span.dropdown-toggle-text 截止日期
          = icon('chevron-down')
        .dropdown-menu.dropdown-menu-due-date
          = dropdown_title('截止日期')
          = dropdown_content do
            .js-due-date-calendar
