- page_title "身份", @user.name, "用户"
= render 'admin/users/head'

= link_to '新建身份', new_admin_user_identity_path, class: 'float-right btn btn-new'
- if @identities.present?
  .table-holder
    %table.table
      %thead
        %tr
          %th 提供者
          %th 身份
          %th
      = render @identities
- else
  %h4 此用户没有任何身份
