.suggest-colors {
  margin-top: 5px;

  a {
    border-radius: 4px;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
  }

  &.suggest-colors-dropdown {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: $border-radius-base;
    overflow: hidden;

    a {
      border-radius: 0;
      width: (100% / 7);
      margin-right: 0;
      margin-bottom: -5px;
    }
  }
}

.dropdown-menu-labels {
  .dropdown-content {
    max-height: 135px;
  }
}

.dropdown-new-label {
  .dropdown-content {
    max-height: 136px;
  }
}

.dropdown-label-color-input {
  position: relative;
  margin-bottom: 10px;

  &.is-active {
    padding-left: 32px;
  }
}

.dropdown-label-color-preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-top-left-radius: $border-radius-base;
  border-bottom-left-radius: $border-radius-base;
}

.color-label {
  padding: 0 $grid-size;
  line-height: 16px;
  border-radius: $label-border-radius;
  color: $white-light;
}

.dropdown-labels-error {
  padding: 5px 10px;
  margin-bottom: 10px;
  background-color: $gl-danger;
  color: $white-light;
}

.manage-labels-list {
  > li:not(.empty-message):not(.is-not-draggable) {
    background-color: $white-light;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: $gl-padding;
    border-radius: $border-radius-default;
    border: 1px solid $theme-gray-100;

    &.sortable-ghost {
      opacity: 0.3;
    }

    .prioritized-labels & {
      box-shadow: 0 1px 2px $issue-boards-card-shadow;
      cursor: move;
      cursor: -webkit-grab;
      cursor: -moz-grab;
      border: 0;

      &:active {
        cursor: -webkit-grabbing;
        cursor: -moz-grabbing;
      }
    }
  }

  .btn-action {
    .fa {
      font-size: 18px;
      vertical-align: middle;
      pointer-events: none;
    }

    &:hover {
      color: $gl-link-color;

      &.remove-row {
        color: $gl-danger;
      }
    }
  }

  .color-label {
    padding: $gl-padding-4 $grid-size;
  }
}

.prioritized-labels {
  margin-bottom: 30px;

  h5 {
    font-size: $gl-font-size;
  }

  .add-priority {
    display: none;
    color: $gray-light;
  }

  li:hover {
    .draggable-handler {
      display: inline-block;
      opacity: 1;
    }
  }
}

.other-labels {
  h5 {
    font-size: $gl-font-size;
  }

  .remove-priority {
    display: none;
  }
}

.filtered-labels {
  font-size: 0;
  padding: 12px 16px;

  .label-row {
    margin-top: 4px;
    margin-bottom: 4px;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }

  .label-remove {
    border-left: 1px solid $label-remove-border;
    z-index: 3;
    border-radius: $label-border-radius;
    padding: 6px 10px 6px 9px;

    &:hover {
      box-shadow: inset 0 0 0 80px $label-remove-border;
    }
  }

  .btn {
    color: inherit;
  }

  a.btn {
    padding: 0;

    .has-tooltip {
      top: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      line-height: 1.1;
    }
  }
}

.label-options-toggle {
  width: 100%;
}

.label-subscription {
  vertical-align: middle;

  .dropdown-group-label a {
    cursor: pointer;
  }
}

.label-subscribe-button {
  width: 105px;
  font-weight: 200;

  .label-subscribe-button-icon {
    &[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .label-subscribe-button-loading {
    display: none;
  }

  &.disabled {
    .label-subscribe-button-icon {
      display: none;
    }

    .label-subscribe-button-loading {
      display: block;
    }
  }
}

.label-link {
  display: inline-flex;
  vertical-align: top;

  &:hover .color-label {
    text-decoration: underline;
  }

  .label {
    vertical-align: inherit;
    font-size: $label-font-size;
  }
}

.labels-container {
  background-color: $gray-light;
  border-radius: $border-radius-default;
  padding: $gl-padding $gl-padding-8;
}

.label-actions-list {
  list-style: none;
  flex-shrink: 0;
  padding: 0;
}

.label-badge {
  color: $theme-gray-900;
  font-weight: $gl-font-weight-normal;
  padding: $gl-padding-4 $gl-padding-8;
  border-radius: $border-radius-default;
  font-size: $label-font-size;
}

.label-badge-blue {
  background-color: $theme-blue-100;
}

.label-badge-gray {
  background-color: $theme-gray-100;
}

.label-links {
  list-style: none;
  padding: 0;
  white-space: nowrap;
}

.label-link-item {
  padding: 0;
}

.label-list-item {
  .content-list &::before,
  .content-list &::after {
    content: none;
  }

  .label-name {
    width: 150px;
    flex-shrink: 0;

    .badge {
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }

  .label-description {
    flex-grow: 1;

    a {
      color: $blue-600;
    }
  }

  .label {
    padding: 4px $grid-size;
    font-size: $label-font-size;
    position: relative;
    top: $gl-padding-4;
  }

  .label-action {
    color: $theme-gray-800;
    cursor: pointer;

    svg {
      fill: $theme-gray-800;
    }

    &:hover {
      color: $blue-600;

      svg {
        fill: $blue-600;
      }
    }
  }
}

.priority-labels-empty-state .svg-content img {
  max-width: $priority-label-empty-state-width;
}
