= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :email_author_in_body, class: 'form-check-input'
          = f.label :email_author_in_body, class: 'form-check-label' do
            在通知邮件正文包含作者名称
          .form-text.text-muted
            有些邮件服务器不支持重写邮件发送人名称功能。
            开启此选项将在邮件正文中提供问题、合并请求和评论作者的名称，
            否则只试图重写邮件发送人为作者。
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :html_emails_enabled, class: 'form-check-input'
          = f.label :html_emails_enabled, class: 'form-check-label' do
            启用 HTML 邮件
          .form-text.text-muted
            默认情况下，GitLab 同时以 HTML 和纯文本格式发送电子邮件，
            所以邮件客户端可以选择使用什么格式。
            如果您只想以纯文本格式发送电子邮件，请禁用此选项。

  = f.submit '保存修改', class: "btn btn-success"
