= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :plantuml_enabled, class: 'form-check-input'
          = f.label :plantuml_enabled, class: 'form-check-label' do
            启用 PlantUML
    .form-group.row
      = f.label :plantuml_url, 'PlantUML URL', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :plantuml_url, class: 'form-control', placeholder: 'http://gitlab.your-plantuml-instance.com:8080'
        .form-text.text-muted
          允许使用外部 PlantUML 服务来渲染 Asciidoc 文档中的
          = link_to "PlantUML", "http://plantuml.com"
          图。

  = f.submit _('Save changes'), class: "btn btn-success"
