= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %p
      于
      %code= metrics_path
      位置启用 Prometheus 指标以暴露 GitLab 的健康、性能统计数据。关于认证、连接该位置的更多信息可以看
      = link_to '这里', admin_health_check_path
      。这项设置需要
      = link_to '重新启动', help_page_path('administration/restart_gitlab')
      以生效。
      = link_to icon('question-circle'), help_page_path('administration/monitoring/prometheus/index')
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :prometheus_metrics_enabled, class: 'form-check-input'
          = f.label :prometheus_metrics_enabled, class: 'form-check-label' do
            启用 Prometheus 指标
          - unless Gitlab::Metrics.metrics_folder_present?
            .form-text.text-muted
              %strong.cred 警告:
              环境变量
              %code prometheus_multiproc_dir
              不存在或者没有指向一个合法的目录。
              = link_to icon('question-circle'), help_page_path('administration/monitoring/prometheus/gitlab_metrics', anchor: 'metrics-shared-directory')

  = f.submit _('Save changes'), class: "btn btn-success"
