= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      = f.label :container_registry_token_expire_delay, '授权令牌持续时间 （分钟）', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :container_registry_token_expire_delay, class: 'form-control'

  = f.submit '保存修改', class: "btn btn-success"
