= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :password_authentication_enabled_for_web, class: 'form-check-input'
          = f.label :password_authentication_enabled_for_web, class: 'form-check-label' do
            为网页界面启用密码认证
            .form-text.text-muted
              当禁用后，必须使用外部认证。
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :password_authentication_enabled_for_git, class: 'form-check-input'
          = f.label :password_authentication_enabled_for_git, class: 'form-check-label' do
            为 HTTP(S) 的 Git 启用密码认证
            .form-text.text-muted
              当禁用后，必须使用个人访问令牌
              - if Gitlab::Auth::LDAP::Config.enabled?
                或 LDAP 密码
              以认证。
    - if omniauth_enabled? && button_based_providers.any?
      .form-group.row
        = f.label :enabled_oauth_sign_in_sources, '启用 OAuth 登录源', class: 'col-form-label col-sm-2'
        = hidden_field_tag 'application_setting[enabled_oauth_sign_in_sources][]'
        .col-sm-10
          .btn-group{ data: { toggle: 'buttons' } }
            - oauth_providers_checkboxes.each do |source|
              = source
    .form-group.row
      = f.label :two_factor_authentication, '双重认证', class: 'col-form-label col-sm-2'
      .col-sm-10
        .form-check
          = f.check_box :require_two_factor_authentication, class: 'form-check-input'
          = f.label :require_two_factor_authentication, class: 'form-check-label' do
            要求所用用户设置双重认证
    .form-group.row
      = f.label :two_factor_authentication, '双重认证宽限期 (小时)', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :two_factor_grace_period, min: 0, class: 'form-control', placeholder: '0'
        .form-text.text-muted Amount of time (in hours) that users are allowed to skip forced configuration of two-factor authentication
    .form-group.row
      = f.label :home_page_url, '页面链接', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :home_page_url, class: 'form-control', placeholder: 'http://company.example.com', :'aria-describedby' => 'home_help_block'
        %span.form-text.text-muted#home_help_block 未登录的用户将会被重定向到这个页面
    .form-group.row
      = f.label :after_sign_out_path, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :after_sign_out_path, class: 'form-control', placeholder: 'http://company.example.com', :'aria-describedby' => 'after_sign_out_path_help_block'
        %span.form-text.text-muted#after_sign_out_path_help_block 用户注销后将被重定向到这个页面
    .form-group.row
      = f.label :sign_in_text, class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_area :sign_in_text, class: 'form-control', rows: 4
        .form-text.text-muted 启用 Markdown

  = f.submit _("Save changes"), class: "btn btn-success"
