= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :recaptcha_enabled, class: 'form-check-input'
          = f.label :recaptcha_enabled, class: 'form-check-label' do
            启用 reCAPTCHA
          %span.form-text.text-muted#recaptcha_help_block Helps prevent bots from creating accounts

    .form-group.row
      = f.label :recaptcha_site_key, 'reCAPTCHA 站点密钥', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_site_key, class: 'form-control'
        .form-text.text-muted
          在
          %a{ href: 'http://www.google.com/recaptcha', target: 'blank' } http://www.google.com/recaptcha
          生成站点和私钥。

    .form-group.row
      = f.label :recaptcha_private_key, 'reCAPTCHA 私钥', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :recaptcha_private_key, class: 'form-control'

    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :akismet_enabled, class: 'form-check-input'
          = f.label :akismet_enabled, class: 'form-check-label' do
            启用 Akismet
          %span.form-text.text-muted#akismet_help_block Helps prevent bots from creating issues

    .form-group.row
      = f.label :akismet_api_key, 'Akismet API Key', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.text_field :akismet_api_key, class: 'form-control'
        .form-text.text-muted
          在
          %a{ href: 'http://www.akismet.com', target: 'blank' } http://www.akismet.com
          创建 API Key

    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :unique_ips_limit_enabled, class: 'form-check-input'
          = f.label :unique_ips_limit_enabled, class: 'form-check-label' do
            限制从多个 IP 登录
          %span.form-text.text-muted#unique_ip_help_block
            帮助阻止恶意用户隐藏其活动

    .form-group.row
      = f.label :unique_ips_limit_per_user, '每用户的 IP 数', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :unique_ips_limit_per_user, class: 'form-control'
        .form-text.text-muted
          每个用户最多的唯一 IP 数量

    .form-group.row
      = f.label :unique_ips_limit_time_window, 'IP 过期时间', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.number_field :unique_ips_limit_time_window, class: 'form-control'
        .form-text.text-muted
          只计算多少秒以内的 IP 数量。

  = f.submit _('Save changes'), class: "btn btn-success"
