= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group.row
      = f.label :default_branch_protection, '默认保护分支', class: 'col-form-label col-sm-2'
      .col-sm-10
        = f.select :default_branch_protection, options_for_select(Gitlab::Access.protection_options, @application_setting.default_branch_protection), {}, class: 'form-control'
    .form-group.row.visibility-level-setting
      = f.label :default_project_visibility, '默认项目可见度', class: 'col-form-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_project_visibility, form: f, selected_level: @application_setting.default_project_visibility, form_model: Project.new)
    .form-group.row.visibility-level-setting
      = f.label :default_snippet_visibility, '默认代码片段可见度', class: 'col-form-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_snippet_visibility, form: f, selected_level: @application_setting.default_snippet_visibility, form_model: ProjectSnippet.new)
    .form-group.row.visibility-level-setting
      = f.label :default_group_visibility, '默认群组可见度', class: 'col-form-label col-sm-2'
      .col-sm-10
        = render('shared/visibility_radios', model_method: :default_group_visibility, form: f, selected_level: @application_setting.default_group_visibility, form_model: Group.new)
    .form-group.row
      = f.label :restricted_visibility_levels, '可见度限制', class: 'col-form-label col-sm-2'
      .col-sm-10
        - checkbox_name = 'application_setting[restricted_visibility_levels][]'
        = hidden_field_tag(checkbox_name)
        - restricted_level_checkboxes('restricted-visibility-help', checkbox_name, class: 'form-check-input').each do |level|
          .form-check
            = level
        %span.form-text.text-muted#restricted-visibility-help
          选择的等级将无法用于非管理用户的项目和代码片段。
          如果公开等级被限制，用户个人资料只对已登录用户可见。
    .form-group.row
      = f.label :import_sources, '导入来源', class: 'col-form-label col-sm-2'
      .col-sm-10
        = hidden_field_tag 'application_setting[import_sources][]'
        - import_sources_checkboxes('import-sources-help', class: 'form-check-input').each do |source|
          .form-check= source
        %span.form-text.text-muted#import-sources-help
          项目创建时可用的代码导入来源。GitHub（必须配置OmniAuth）
          = link_to "(?)", help_page_path("integration/github")
          , Bitbucket
          = link_to "(?)", help_page_path("integration/bitbucket")
          和 GitLab.com
          = link_to "(?)", help_page_path("integration/gitlab")

    .form-group.row
      .offset-sm-2.col-sm-10
        .form-check
          = f.check_box :project_export_enabled, class: 'form-check-input'
          = f.label :project_export_enabled, class: 'form-check-label' do
            启用项目导出

    .form-group.row
      %label.col-form-label.col-sm-2 启用的 Git 访问协议
      .col-sm-10
        = select(:application_setting, :enabled_git_access_protocol, [['SSH 和 HTTP(S)', nil], ['只有 SSH', 'ssh'], ['只有 HTTP(S)', 'http']], {}, class: 'form-control')
        %span.form-text.text-muted#clone-protocol-help
          仅允许通过所选协议进行Git访问。

    - ApplicationSetting::SUPPORTED_KEY_TYPES.each do |type|
      - field_name = :"#{type}_key_restriction"
      .form-group.row
        = f.label field_name, "#{type.upcase} SSH 密钥", class: 'col-form-label col-sm-2'
        .col-sm-10
          = f.select field_name, key_restriction_options_for_select(type), {}, class: 'form-control'

  = f.submit '保存修改', class: "btn btn-success"
