- page_title "#{@runner.description} ##{@runner.id}", "Runners"

%h3.page-title
  Runner ##{@runner.id}
  .float-right
    - if @runner.shared?
      %span.runner-state.runner-state-shared
        共享的
    - elsif @runner.group_type?
      %span.runner-state.runner-state-shared
        Group
    - else
      %span.runner-state.runner-state-specific
        指定的

.table-holder
  %table.table
    %thead
      %tr
        %th 属性名称
        %th 值
    %tr
      %td Active
1jin    %tr
      %td 被保护
      %td= @runner.ref_protected? ? _('Yes') : _('No')
    %tr
      %td= _('Can run untagged jobs')
      %td= @runner.run_untagged? ? _('Yes') : _('No')
    - unless @runner.group_type?
      %tr
        %td= _('Locked to this project')
        %td= @runner.locked? ? _('Yes') : _('No')
    %tr
      %td 标签
      %td
        - @runner.tag_list.sort.each do |tag|
          %span.badge.badge-primary
            = tag
    %tr
      %td 名称
      %td= @runner.name
    %tr
      %td 版本
      %td= @runner.version
    %tr
      %td IP 地址
      %td= @runner.ip_address
    %tr
      %td 修订版本
      %td= @runner.revision
    %tr
      %td 平台
      %td= @runner.platform
    %tr
      %td 架构
      %td= @runner.architecture
    %tr
      %td 描述
      %td= @runner.description
    %tr
      %td= _('Maximum job timeout')
      %td= @runner.maximum_timeout_human_readable
    %tr
      %td 最后联系时间
      %td
        - if @runner.contacted_at
          = time_ago_with_tooltip @runner.contacted_at
        - else
          从未
