- page_title "问题"
= content_for :meta_tags do
  = auto_discovery_link_tag(:atom, safe_params.merge(rss_url_options).to_h, title: "#{@group.name} issues")

- if group_issues_count(state: 'all').zero?
  = render 'shared/empty_states/issues', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :issues
    .nav-controls
      = render 'shared/issuable/feed_buttons'
      = render 'shared/new_project_item_select', path: 'issues/new', label: "新建问题", type: :issues

  = render 'shared/issuable/search_bar', type: :issues

  = render 'shared/issues'
