.row.prepend-top-default
  .col-lg-12
    = form_for @project, url: project_settings_ci_cd_path(@project) do |f|
      = form_errors(@project)
      %fieldset.builds-feature
        .form-group.append-bottom-default.js-secret-runner-token
          = f.label :runners_token, "Runner 令牌", class: 'label-light'
          .form-control.js-secret-value-placeholder
            = '*' * 20
          = f.text_field :runners_token, class: "form-control hide js-secret-value", placeholder: 'xEeFCaDAB89'
          %p.form-text.text-muted 用来检出项目的安全令牌。
          %button.btn.btn-info.prepend-top-10.js-secret-value-reveal-button{ type: 'button', data: { secret_reveal_status: 'false' } }
            = _('Reveal value')

        %hr
        .form-group
          %h5.prepend-top-0
            流水线的Git策略
          %p
            选择 <code>clone</code> 或者 <code>fetch</code> 方式来获取最新的程序代码
            = link_to icon('question-circle'), help_page_path('user/project/pipelines/settings', anchor: 'git-strategy'), target: '_blank'
          .form-check
            = f.radio_button :build_allow_git_fetch, 'false', { class: 'form-check-input' }
            = f.label :build_allow_git_fetch_false, class: 'form-check-label' do
              %strong git clone
              %br
              %span.descr
                比较慢，但可以在每次作业前保证你有一个干净的文件目录
          .form-check
            = f.radio_button :build_allow_git_fetch, 'true', { class: 'form-check-input' }
            = f.label :build_allow_git_fetch_true, class: 'form-check-label' do
              %strong git fetch
              %br
              %span.descr
                重用项目的工作空间，速度较快 (如果项目空间不存在，则采用克隆的方式)

        %hr
        .form-group
          = f.label :build_timeout_human_readable, '超时', class: 'label-light'
          = f.text_field :build_timeout_human_readable, class: 'form-control'
          %p.form-text.text-muted
            每次作业时间的最大分钟数. 如果超过该时间，则标记为失败。
            = link_to icon('question-circle'), help_page_path('user/project/pipelines/settings', anchor: 'timeout'), target: '_blank'

        %hr
        .form-group
          = f.label :ci_config_path, '自定义 CI 配置路径', class: 'label-light'
          = f.text_field :ci_config_path, class: 'form-control', placeholder: '.gitlab-ci.yml'
          %p.form-text.text-muted
            The path to CI config file. Defaults to <code>.gitlab-ci.yml</code>
            = link_to icon('question-circle'), help_page_path('user/project/pipelines/settings', anchor: 'custom-ci-config-path'), target: '_blank'

        %hr
        .form-group
          .form-check
            = f.check_box :public_builds, { class: 'form-check-input' }
            = f.label :public_builds, class: 'form-check-label' do
              %strong 公共流水线
            .form-text.text-muted
              允许所有人访问公共和内部项目的流水线，包含日志和工件。
              = link_to icon('question-circle'), help_page_path('user/project/pipelines/settings', anchor: 'visibility-of-pipelines'), target: '_blank'
            .bs-callout.bs-callout-info
              %p 如果启用:
              %ul
                %li
                  对于公开项目，任何人可以查看流水线以及工作细节（输入日志以及元数据信息）
                %li
                  对于内部项目，任何登录后的用户都可以查看流水线以及工作细节（输入日志以及元数据信息）
                %li
                  对于私有项目，任何成员（邀请的客人或者更高级别）可以查看流水线以及工作细节（输入日志以及元数据信息）
              %p
                如果禁用，访问情况将取决于用户在项目中的权限情况而定。

        %hr
        .form-group
          .form-check
            = f.check_box :auto_cancel_pending_pipelines, { class: 'form-check-input' }, 'enabled', 'disabled'
            = f.label :auto_cancel_pending_pipelines, class: 'form-check-label' do
              %strong 自动取消冗余的待处理流水线
            .form-text.text-muted
              新流水线将取消同一分支上较旧的待处理管道
              = link_to icon('question-circle'), help_page_path('user/project/pipelines/settings', anchor: 'auto-cancel-pending-pipelines'), target: '_blank'

        %hr
        .form-group
          = f.label :build_coverage_regex, "测试覆盖解析", class: 'label-light'
          .input-group
            %span.input-group-prepend
              .input-group-text /
            = f.text_field :build_coverage_regex, class: 'form-control', placeholder: 'Regular expression'
            %span.input-group-append
              .input-group-text /
          %p.form-text.text-muted
            我们将使用此正则表达式在作业信息中查找测试覆盖输出。如果不想使用此功能，请留空
            = link_to icon('question-circle'), help_page_path('user/project/pipelines/settings', anchor: 'test-coverage-parsing'), target: '_blank'
          .bs-callout.bs-callout-info
            %p 下面是现有工具的正则表达式例子：
            %ul
              %li
                Simplecov (Ruby) -
                %code \(\d+.\d+\%\) covered
              %li
                pytest-cov (Python) -
                %code \d+\%\s*$
              %li
                phpunit --coverage-text --colors=never (PHP) -
                %code ^\s*Lines:\s*\d+.\d+\%
              %li
                gcovr (C/C++) -
                %code ^TOTAL.*\s+(\d+\%)$
              %li
                tap --coverage-report=text-summary (NodeJS) -
                %code ^Statements\s*:\s*([^%]+)
              %li
                excoveralls (Elixir) -
                %code \[TOTAL\]\s+(\d+\.\d+)%
              %li
                JaCoCo (Java/Kotlin)
                %code Total.*?([0-9]{1,3})%

        = f.submit '保存修改', class: "btn btn-save"

%hr

.row.prepend-top-default
  = render partial: 'badge', collection: @badges
