- page_title "Google 代码导入"
- header_title "项目", root_path
%h3.page-title
  %i.fa.fa-google
  从 Google 代码导入项目

- if @repos.any?
  %p.light
    选择要导入的项目。
  %p.light
    可选项，可以
    = link_to "自定义", new_user_map_import_google_code_path
    Google 代码邮箱地址和用户名来导入到 GitLab。
  %hr
  %p
  - if @incompatible_repos.any?
    = button_tag class: "btn btn-import btn-success js-import-all" do
      导入所有兼容项目
      = icon("spinner spin", class: "loading-icon")
  - else
    = button_tag class: "btn btn-import btn-success js-import-all" do
      导入所有项目
      = icon("spinner spin", class: "loading-icon")

.table-responsive
  %table.table.import-jobs
    %colgroup.import-jobs-from-col
    %colgroup.import-jobs-to-col
    %colgroup.import-jobs-status-col
    %thead
      %tr
        %th 从 Google 代码
        %th 到 GitLab
        %th 状态
    %tbody
      - @already_added_projects.each do |project|
        %tr{ id: "project_#{project.id}", class: "#{project_status_css_class(project.import_status)}" }
          %td
            = link_to project.import_source, "https://code.google.com/p/#{project.import_source}", target: "_blank", rel: 'noopener noreferrer'
          %td
            = link_to project.full_path, [project.namespace.becomes(Namespace), project]
          %td.job-status
            - if project.import_status == 'finished'
              %span
                %i.fa.fa-check
                完成
            - elsif project.import_status == 'started'
              %i.fa.fa-spinner.fa-spin
              已开始
            - else
              = project.human_import_status_name

      - @repos.each do |repo|
        %tr{ id: "repo_#{repo.id}" }
          %td
            = link_to repo.name, "https://code.google.com/p/#{repo.name}", target: "_blank", rel: 'noopener noreferrer'
          %td.import-target
            #{current_user.username}/#{repo.name}
          %td.import-actions.job-status
            = button_tag class: "btn btn-import js-add-to-import" do
              导入
              = icon("spinner spin", class: "loading-icon")
      - @incompatible_repos.each do |repo|
        %tr{ id: "repo_#{repo.id}" }
          %td
            = link_to repo.name, "https://code.google.com/p/#{repo.name}", target: "_blank", rel: 'noopener noreferrer'
          %td.import-target
          %td.import-actions-job-status
            = label_tag "不兼容项目", nil, class: "label badge-danger"

- if @incompatible_repos.any?
  %p
    因为有些项目使用 Subversion(svn) 或 Mercurial(hg) 版本控制
    而不是 Git，所以无法导入到 GitLab。
    请在 Google 代码上通过
    = link_to "导入工作流", new_import_google_code_path
    将其转换成 Git 后再试。

.js-importer-status{ data: { jobs_import_path: "#{jobs_import_google_code_path}", import_path: "#{import_google_code_path}" } }
