%tr{ id: dom_id(runner) }
  %td
    - if runner.shared?
      %span.badge.badge-success 共享的
    - elsif runner.group_type?
      %span.badge.badge-success 群组
    - else
      %span.badge.badge-info 特定的
    - if runner.locked?
      %span.badge.badge-warning 锁定的
    - unless runner.active?
      %span.badge.badge-danger 暂停的

  %td
    = link_to admin_runner_path(runner) do
      = runner.short_sha
  %td
    = runner.description
  %td
    = runner.version
  %td
    = runner.ip_address
  %td
    - if runner.shared? || runner.group_type?
      n/a
    - else
      = runner.projects.count(:all)
  %td
    #{runner.builds.count(:all)}
  %td
    - runner.tag_list.sort.each do |tag|
      %span.badge.badge-primary
        = tag
  %td
    - if runner.contacted_at
      = time_ago_with_tooltip runner.contacted_at
    - else
      从未
  %td.admin-runner-btn-group-cell
    .float-right.btn-group
      = link_to admin_runner_path(runner), class: 'btn btn-sm btn-default has-tooltip', title: '编辑', ref: 'tooltip', aria: { label: '编辑' }, data: { placement: 'top', container: 'body'} do
        = icon('pencil')
      &nbsp;
      - if runner.active?
        = link_to [:pause, :admin, runner], method: :get, class: 'btn btn-sm btn-default has-tooltip', title: '暂停', ref: 'tooltip', aria: { label: '暂停' }, data: { placement: 'top', container: 'body', confirm: "确定要继续么？" } do
          = icon('pause')
      - else
        = link_to [:resume, :admin, runner], method: :get, class: 'btn btn-default btn-sm has-tooltip', title: '继续', ref: 'tooltip', aria: { label: '继续' }, data: { placement: 'top', container: 'body'} do
          = icon('play')
      = link_to [:admin, runner], method: :delete, class: 'btn btn-danger btn-sm has-tooltip', title: '删除', ref: 'tooltip', aria: { label: '删除' }, data: { placement: 'top', container: 'body', confirm: "确定要继续么？" } do
        = icon('remove')
