= form_errors(hook)

.form-group
  = form.label :url, '链接(URL)', class: 'label-light'
  = form.text_field :url, class: 'form-control', placeholder: 'http://example.com/trigger-ci.json'
.form-group
  = form.label :token, '安全令牌', class: 'label-light'
  = form.text_field :token, class: 'form-control', placeholder: ''
  %p.form-text.text-muted
    使用此令牌来验证接收信息的有效性。 它将通过 HTTP 头的 X-Gitlab-Token 发送。
.form-group
  = form.label :url, '触发器', class: 'label-light'
  %ul.list-unstyled.prepend-left-20
    %li
      = form.check_box :push_events, class: 'form-check-input'
      = form.label :push_events, class: 'list-label form-check-label ml-1' do
        %strong 推送事件
      %p.light.ml-1
        此链接将在推送到版本仓库时触发
    %li
      = form.check_box :tag_push_events, class: 'form-check-input'
      = form.label :tag_push_events, class: 'list-label form-check-label ml-1' do
        %strong 标签推送事件
      %p.light.ml-1
        此链接将在推送新标签到版本仓库时触发
    %li
      = form.check_box :note_events, class: 'form-check-input'
      = form.label :note_events, class: 'list-label form-check-label ml-1' do
        %strong 评论
      %p.light.ml-1
        增加新评论时将触发此链接
    %li
      = form.check_box :confidential_note_events, class: 'form-check-input'
      = form.label :confidential_note_events, class: 'list-label form-check-label ml-1' do
        %strong Confidential Comments
      %p.light.ml-1
        This URL will be triggered when someone adds a comment on a confidential issue
    %li
      = form.check_box :issues_events, class: 'form-check-input'
      = form.label :issues_events, class: 'list-label form-check-label ml-1' do
        %strong 问题事件
      %p.light.ml-1
        问题创建、更新、合并时将触发此链接
    %li
      = form.check_box :confidential_issues_events, class: 'form-check-input'
      = form.label :confidential_issues_events, class: 'list-label form-check-label ml-1' do
        %strong Confidential Issues events
      %p.light.ml-1
        This URL will be triggered when a confidential issue is created/updated/merged
    %li
      = form.check_box :merge_requests_events, class: 'form-check-input'
      = form.label :merge_requests_events, class: 'list-label form-check-label ml-1' do
        %strong 合并请求事件
      %p.light.ml-1
        合并请求创建、更新、合并时将触发此链接
    %li
      = form.check_box :job_events, class: 'form-check-input'
      = form.label :job_events, class: 'list-label form-check-label ml-1' do
        %strong 作业事件
      %p.light.ml-1
        作业状态改变时将触发此链接
    %li
      = form.check_box :pipeline_events, class: 'form-check-input'
      = form.label :pipeline_events, class: 'list-label form-check-label ml-1' do
        %strong 流水线事件
      %p.light.ml-1
        流水线状态改变时将触发此链接
    %li
      = form.check_box :wiki_page_events, class: 'form-check-input'
      = form.label :wiki_page_events, class: 'list-label form-check-label ml-1' do
        %strong 维基页面事件
      %p.light.ml-1
        维基页面创建/更新时将触发此链接
.form-group
  = form.label :enable_ssl_verification, 'SSL 证书验证', class: 'label-light checkbox'
  .form-check
    = form.check_box :enable_ssl_verification, class: 'form-check-input'
    = form.label :enable_ssl_verification, class: 'form-check-label ml-1' do
      %strong 开启 SSL 证书验证
