- @no_container = true
- add_to_breadcrumbs "Milestones", project_milestones_path(@project)
- breadcrumb_title @milestone.title
- page_title       @milestone.title, "里程碑"
- page_description @milestone.description

%div{ class: container_class }
  .detail-page-header.milestone-page-header
    .status-box{ class: status_box_class(@milestone) }
      - if @milestone.closed?
        已关闭
      - elsif @milestone.expired?
        已过期
      - elsif @milestone.upcoming?
        近期
      - else
        打开
    .header-text-content
      %span.identifier
        %strong
          里程碑
      - if @milestone.due_date || @milestone.start_date
        = milestone_date_range(@milestone)
    .milestone-buttons
      - if can?(current_user, :admin_milestone, @project)
        = link_to edit_project_milestone_path(@project, @milestone), class: "btn btn-grouped btn-nr" do
          Edit

        - if @project.group
          %button.js-promote-project-milestone-button.btn.btn-grouped{ data: { toggle: 'modal',
            target: '#promote-milestone-modal',
            milestone_title: @milestone.title,
            group_name: @project.group.name,
            url: promote_project_milestone_path(@milestone.project, @milestone),
            container: 'body' },
            disabled: true,
            type: 'button' }
            = _('Promote')
          #promote-milestone-modal

        - if @milestone.active?
          = link_to '关闭里程碑', project_milestone_path(@project, @milestone, milestone: {state_event: :close }), method: :put, class: "btn btn-close btn-nr btn-grouped"
        - else
          = link_to '重新打开里程碑', project_milestone_path(@project, @milestone, milestone: {state_event: :activate }), method: :put, class: "btn btn-reopen btn-nr btn-grouped"

        %button.js-delete-milestone-button.btn.btn-grouped.btn-danger{ data: { toggle: 'modal',
          target: '#delete-milestone-modal',
          milestone_id: @milestone.id,
          milestone_title: markdown_field(@milestone, :title),
          milestone_url: project_milestone_path(@project, @milestone),
          milestone_issue_count: @milestone.issues.count,
          milestone_merge_request_count: @milestone.merge_requests.count },
          disabled: true }
          = _('Delete')
          = icon('spin spinner', class: 'js-loading-icon hidden' )

        #delete-milestone-modal

      %a.btn.btn-default.btn-grouped.float-right.d-block.d-sm-none.js-sidebar-toggle{ href: "#" }
        = icon('angle-double-left')

  .detail-page-description.milestone-detail
    %h2.title
      = markdown_field(@milestone, :title)

    %div
      - if @milestone.description.present?
        .description
          .wiki
            = markdown_field(@milestone, :description)

  - if can?(current_user, :read_issue, @project) && @milestone.total_items_count(current_user).zero?
    .alert.alert-success.prepend-top-default
      %span 指派一些问题到此里程碑。
  - elsif @milestone.complete?(current_user) && @milestone.active?
    .alert.alert-success.prepend-top-default
      %span 本里程碑的全部问题和合并请求都已关闭，可以选择关闭本里程碑。

  = render 'shared/milestones/tabs', milestone: @milestone
  = render 'shared/milestones/sidebar', milestone: @milestone, project: @project, affix_offset: 153
