.col-md-6
  .form-group.row
    = f.label :start_date, "开始日期", class: "col-form-label col-sm-2"
    .col-sm-10
      = f.text_field :start_date, class: "datepicker form-control", placeholder: "选择开始日期"
      %a.inline.float-right.prepend-top-5.js-clear-start-date{ href: "#" } 清除开始日期
  .form-group.row
    = f.label :due_date, "截止日期", class: "col-form-label col-sm-2"
    .col-sm-10
      = f.text_field :due_date, class: "datepicker form-control", placeholder: "选择截止日期"
      %a.inline.float-right.prepend-top-5.js-clear-due-date{ href: "#" } 清除截止日期
